.home-section-all-posts-each-post {
    background-color: #eaeaea;
    border-radius: 0.5em;
    padding: 1.5em  0em 0em  0em;
    margin: 1em 1em;
    height: fit-content;
    box-shadow: 1px 1px 8px #aaaaaa;
    width: 100%;
    max-width: 23em;
    height: 100%;
    min-height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-section-all-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0em;
}

strong.uppercase {
    text-transform: capitalize;
}
.padding-each-post {
    padding: 0em 1em;
}
.padding-each-post-delete {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    background-color: #8a0510;
    margin-top: 1em;
    border-radius: 0em 0em 0.5em 0em;
    width: 50%;
    cursor: pointer;
}
.padding-each-post-update {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    background-color: #1c6400;
    margin-top: 1em;
    border-radius: 0em 0em 0em 0.5em;
    width: 50%;
    cursor: pointer;
}

.hide{
    display: none;
}
.pop-up-div-info{
    background-color: #00718a;
    top: 25%;
    align-content: inherit;
    font-size: 1.4em;
    border-radius: 0.4em;
    padding: 0.5em 0em 0em 0em;
    display: block;
    width: 100%;
    max-width: 18em;
}
.see-background-full-dark{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}
.buttons-pop-up {
    display: flex;
    justify-content: space-evenly;
}

.button-no-delete {
    background-color: #3dab3d;
    padding: 0.3em 1em;
    color: white;
    border-radius: 0em 0em 0em 0.2em;
    width: 100%;
    text-align: center;

}
.button-delete {
    background-color: #8a0510;
    padding: 0.3em 1em;
    color: white;
    border-radius: 0em 0em 0.2em 0em;
    width: 100%;
    text-align: center;
 
}
div#X {
    color: white;
    display: flex;
    justify-content: center;
    width: 1em;
    cursor: pointer;
}
.pop-up-div-info-title {
    color: white;
    margin: 1em 0em 2em 0em;
    font-size: 20px;
    text-align: center;
}
.pop-up-div-info-title-cross {
    display: flex;
    padding: 0em 1em;
    justify-content: flex-end;
}
.pop-up-div-info-title-cross-delete {
    display: flex;
    padding: 0em 1em;
    justify-content: flex-end;
    flex-direction: column;
    
}
.button-each-post-all-posts {
    display: flex;
    justify-content: space-between;
}
.pop-up-div-info-update {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
    margin-bottom: 2em;
    color: white;
}
.posts-inputs-update {
    margin-top: 0.5em;
    height: 2em;
    border-radius: 0.2em;
    border: unset;
    padding: 0.3em;
}
.posts-inputs-update-send-data {
    background-color: white;
    color: #00718a;
    margin-top: 1em;
    border-radius: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.closeWindow-div-delete {
    display: flex;
    justify-content: flex-end;
}